.a{
    color: red;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 5px;
    word-spacing: 5px;
    border: 4px dashed black;
    padding: 10px;
    border-radius: 15px;
}
#m{
    color: blue;
}

